name: Dart

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  dart-test:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - uses: actions/checkout@v3
      - uses: dart-lang/setup-dart@v1

      - run: dart pub get
      - run: dart format --output=none --set-exit-if-changed .
      # skip for now: need to make tests workflow for inherited packages
      # - run: dart analyze 
      - run: dart test
      - run: dart run --observe test/gc/autoclose_test_gc.dart
  flutter-test:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: test autoclose-flutter
        working-directory: ./packages/autoclose_flutter
        run: flutter pub get
        run: flutter test
  lint-test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
      - uses: dart-lang/setup-dart@v1
      - name: test autoclose-lint
        working-directory: ./packages/autoclose_lint/test
        run: dart pub get
        run: dart run custom_lint .


